.thumbnail {
    width: 300px;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: 0.3s;
}

#imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalImg {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid white;
    object-fit: contain;
}